<!-- templates/final_contact.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>お問い合わせフォーム</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="wrapper">
  <h2>お問い合わせフォーム</h2>
  <p>以下の内容でよろしければ送信してください。</p>
  <p>
    施釉(約): {{ cost_glaze }} 円<br>
    プリント(約): {{ cost_print }} 円<br>
    特殊加工(約): {{ cost_special }} 円<br>
    <b>最終合計(約): {{ final_total }} 円</b>

    {% if filename %}
    <p><b>見積もり用STLファイル名:</b> {{ filename }}</p>
  {% else %}
    <p><b>見積もり用STLファイル名:</b> なし</p>
  {% endif %}
    
  </p>

  <form method="post" action="{{ url_for('final_contact') }}">
    <label>お名前:</label><br>
    <input type="text" name="name" required><br><br>
    <label>企業名(任意):</label><br>
    <input type="text" name="company"><br><br>
    <label>メールアドレス:</label><br>
    <input type="email" name="email" required><br><br>
    <input type="submit" value="送信">
  </form>
  <hr>
  <a href="{{ url_for('upload_form') }}">戻る</a>
  </div>
</body>
</html>
